

/*@import "components/variables";*/
@import "materialize" ;
@import "mesartim-slider";
@import "mesartim-table";
@import "mesartim-ideaList";

$gray-color : #aaa ;
$gray-color-light : #ccc ;
$gray-color-dark : #999 ;


body {
  background : $body-background-color ; 
}


.flex{
		display: flex;
		flex-flow: row wrap;

		padding: 0.75rem 0 0 0.75rem !important;
}
.screenedElement{
		display: block;
		width: 4.5em;
		margin: 0 0.75rem 0.75rem 0;
		font-size: 1.6rem;

		font-style: italic;
}
.color_0 {
 background : $gray-color ;
 &.btn:hover{						
    background : $gray-color-light ;
 }
 &.btn:focus{
    background : $gray-color-dark ;
 }
}
.color_1 {
		background : $primary-color ;
		&.btn:hover{
				background : $primary-color-light ;
		}
		&.btn:focus{
				background : $primary-color-dark ;
		}
}
.color_2 {
		background : $secondary-color ;
		&.btn:hover{
				background : $secondary-color-light ;
		}
		&.btn:focus{
				background : $secondary-color-dark ;
		}
}
.color_0 {
		background : $mute-color ;
		&.btn:hover{
				background : $mute-color-light ;
		}
		&.btn:focus{
				background : $mute-color-dark ;
		}

}



nav {
  margin-bottom: 1rem ;
  li.active {
   background :  $light-background;
  }
}

.img-logo {
  height : 64px ; 
}

#voteIdea, #register, .collapsible, .vote div {
  background : white ;
}
.idea.active {
  background: $light-background;

}

.super {
  vertical-align: super ; 
  color : color("green", "lighten-2");
}

.row.hidden {
            display:none ;
}

.idea {
  .voted, .interested, .vote, .discuss {
    color : color("grey", "lighten-2");
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;    
    background:rgb( 250, 250, 250 ) ;
    background: linear-gradient(to bottom, #ddd , #fafafa 3px);
    color: rgba(250,250,250,1);
    text-shadow: 1px 1px 1px rgba(205,205,205,0.3), -1px -1px 2px rgba(0,0,0,0.3);

  }
}

.idea.voted .voted {
  color: $success-color !important ;
   text-shadow: none ;
   font-weight: bold ;

  ;
}
.idea.interested .interested {
  color: $primary-color !important ;
  text-shadow: none ;

}
.ideaTitle {
  width: calc(100% - 12rem);
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
    
}


.input-field:not(.radioGroup) label {
  color : $secondary-color !important;
}
.radioGroup{
  label {
    position: absolute;
    color : black ; 
    top: -14px;
    font-size: 0.8rem;
  } 
  span {
    margin-top: 23px ;
  }
  margin-bottom: 20px;
}


.idea .collection-item  {
	i {
     width: 2.2rem;
		 font-size: 1.6rem;	
		 line-height: 3rem;
		 display: block;
 		 float: left;
 		 text-align: center;
 		 margin-right: 1rem;
	}
	i span {
		margin: 0 0.3em ;
	}
	i.right span:not(:first-child) {
 		display: block;
 		font-size: 0.5em;
 		line-height: 0.6em;
		margin-bottom:0.5em;
  }
 	i.vote.active span {
		color: $primary-color !important ;
  }
 	i.discuss.active span {
		color: $secondary-color !important ;
  }
}