.mesartimTable {
  background : white ; 
  td, th {
    border : 1px inset gray ;
  } 
  .diagonal {
    background: -moz-linear-gradient(to bottom left,  hsla(0,0%,100%,1) 0%, hsla(0,0%,100%,1) 50%, $table-striped-color 50%, $table-striped-color 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(to bottom left,  hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,1) 50%,$table-striped-color 50%,$table-striped-color 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom left,  hsla(0,0%,100%,1) 0%,hsla(0,0%,100%,1) 50%,$table-striped-color 50%,$table-striped-color 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
  th {
    font-weight: normal;
    &.noBorder{
      border : none ; 
      background : white !important ; 
      padding : 2px ;
      font-weight: bold;
      text-align: right ;
    }
    &.hidden{
      color : transparent ;
    }
    &.active {
      font-weight: bold;
    }
  }
}


.cellDimension {
  position: relative;
}
.cellDimension span:first-child{
    position: absolute;
    left: 5px;
    bottom: 5px;    
    vertical-align: bottom; ;
    text-align: left;
}
.cellDimension span:last-child{
  
    position: absolute;
    top: 5px;
    right: 5px;
    vertical-align: top ;
    text-align: right;  
}

.headerColumn{
  width: 20%;
}
.maxWidth {
  max-width: 20ex;
  display: inline-block;
  margin: auto;
}
.clickable {
  cursor : pointer ;
}


th span {
  vertical-align: top ;
}
// th span:first-child{
//   font-weight: bold ;
// }
td.active {
  background: $primary-color-light;
}


input.hidden{
  visibility: hidden ;
}