.noIndication {
  input[type=range], input[type=range] + .thumb {
    @extend .no-select;
    cursor: pointer;
  }

  input[type=range] {
    position: relative;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin: 15px 0px;
    padding: 0;
  }
  input[type=range] + .thumb {
    position: absolute;
    //visibility: none ;
    border: none;
    height: 0;
    width: 0;
    border-radius: 50%;
    background-color: $secondary-color ;
    top: 10px;
    margin-left: -6px;

    transform-origin: 50% 50%;
    transform: rotate(-45deg);

    .value {
      display: block;
      width: 30px;
      text-align: center;
      color: black;
      font-size: 0;
      transform: rotate(45deg);
    }

    &.active {
      border-radius: 50%;
      border-bottom-left-radius: 0;
      .value {
      //  visibility: hidden !important ;
        color: white;
        margin-left: -1px;
        margin-top: 8px;
        font-size: 10px;
      }
    }
  }
}


.popup {
  position: absolute; 
  right: 0 ; 
  font-weight: bold; 
  width : 2.5rem;
  border-radius : 50%;
  background: rgba(230,230,230,1);
  text-align: center;
  top: calc( (32px - 1em)/4 );
}
.popup.negatif {
  color : color( "red", "accent-4") ; ;
}
.popup.positif {
  color: color( "green", "accent-4") ;
}




@mixin backgroundGenerator() {
  $color1 : transparent ;
  $color2 : rgba(0,0,0,0.2) ; 

  background: $color1 ;   
  background: -webkit-repeating-linear-gradient(90deg, $color1, $color1 50%, $color2 50%, $color2 51%, $color1 51%, $color1 100%);
  background: -o-repeating-linear-gradient(90deg, $color1, $color1 50%, $color2 50%, $color2 51%, $color1 51%, $color1 100%);
  background: -moz-repeating-linear-gradient(90deg, $color1, $color1 50%, $color2 50%, $color2 51%, $color1 51%, $color1 100%);
  background: repeating-linear-gradient(90deg, $color1, $color1 50%, $color2 50%, $color2 51%, $color1 51%, $color1 100%); 
  background-size : 20% auto ; 
  background-repeat: repeat; 
}



span.mesartimSliderWrapper{
  position: relative;
  display: block;
}
span.mesartimFilling {
  position: absolute;
  top : 0 ;
  left: 0; 
  height : 32px ; 
  background: lightgray  ; 

}
span.mesartimSliderWrapper.set span.mesartimFilling {
  background-color : $primary-color ;
}

input[type=range].mesarthimSlider {
  border: none ; 
  background : transparent ; 
  @include backgroundGenerator() ;
  -webkit-appearance: none;
  width: 100%;
  margin: 0px 0;
  height: 32px ;
  cursor: ew-resize ; 
}
input[type=range].mesarthimSlider:focus {
  outline: none;
}
input[type=range].mesarthimSlider::-webkit-slider-runnable-track {
  width: 100%;
  height: 32px;
  cursor: ew-resize;
  box-shadow: 1px 1px 3.7px rgba(0, 0, 0, 0.46), 0px 0px 1px rgba(13, 13, 13, 0.46);
  background: rgba(255, 255, 214, 0);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].mesarthimSlider::-webkit-slider-thumb {
  box-shadow: 0px 0px 1.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 32px;
  width: 19px;
  border-radius: 0px;
  background: rgba(48, 113, 181, 0);
  cursor: ew-resize;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range].mesarthimSlider:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 224, 0);
}
input[type=range].mesarthimSlider::-moz-range-track {
  width: 100%;
  height: 32px;
  cursor: ew-resize;
  box-shadow: 1px 1px 3.7px rgba(0, 0, 0, 0.46), 0px 0px 1px rgba(13, 13, 13, 0.46);
  background: rgba(255, 255, 214, 0);
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].mesarthimSlider::-moz-range-thumb {
  box-shadow: 0px 0px 1.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 32px;
  width: 19px;
  border-radius: 0px;
  background: rgba(48, 113, 181, 0);
  cursor: ew-resize;
}
input[type=range].mesarthimSlider::-ms-track {
  width: 100%;
  height: 32px;
  cursor: ew-resize;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].mesarthimSlider::-ms-fill-lower {
  background: rgba(255, 255, 204, 0);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 3.7px rgba(0, 0, 0, 0.46), 0px 0px 1px rgba(13, 13, 13, 0.46);
}
input[type=range].mesarthimSlider::-ms-fill-upper {
  background: rgba(255, 255, 214, 0);
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 3.7px rgba(0, 0, 0, 0.46), 0px 0px 1px rgba(13, 13, 13, 0.46);
}
input[type=range].mesarthimSlider::-ms-thumb {
  box-shadow: 0px 0px 1.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  width: 19px;
  border-radius: 0px;
  background: rgba(48, 113, 181, 0);
  cursor: ew-resize;
  height: 32px;
}
input[type=range].mesarthimSlider:focus::-ms-fill-lower {
  background: rgba(255, 255, 214, 0);
}
input[type=range].mesarthimSlider:focus::-ms-fill-upper {
  background: rgba(255, 255, 224, 0);
}

