nav
	.nav-wrapper
		a.brand-logo( href="#" ) L'hôpital du futur 
		a.button-collapse( data-activates="menuMobile")
			i.material-icons menu
		ul.right.hide-on-med-and-down
			include menu.pug
		ul.side-nav#menuMobile
			include menu.pug


