title IdeaValuation 💡 
meta(name="viewport", content="width=device-width, initial-scale=1.0")
script(data-main="scripts/main.js", src="bower_components/requirejs/require.js")
script(data-main="scripts/main.js", src="bower_components/jquery/dist/jquery.min.js")
script(data-main="scripts/main.js", src="bower_components/tablesorter/jquery.tablesorter.min.js")
//google icon font
link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
//materialize css 
//link(href="css/materialize.css", rel="stylesheet")
link(href="css/ideaValuation.css", rel="stylesheet")
link( rel="icon", type="image/png", href="img/favicon.png")
if token
	script!= "localStorage.setItem('token', '" + token +"')"


