extends ./layout.pug
block content 
	.row
		form.z-depth-1( class="col s12 m12 l8 offset-l2", id="register" action="register" method="post")
			.row
				.input-field.col.s12.l6
					input( id="first_name", type="text", class="validate", name="prenom" )
					label( or="first_name" ) Prénom 		
				.input-field.col.s12.l6
					input(id="last_name", type="text", class="validate", name="nom" )
					label(for="last_name") Nom
			.row
				.input-field.col.s12
					input( id="entreprise", type="text", class="validate", name="entreprise" )
					label( for="entreprise") Organisation
			.row 
				.input-field.col.s12
					input(id="email", type="email", class="validate", required, name="email")
					label(for="email") Email 
						span.super *
			.row
				.input-field.col.s12.l6
						.row.radioGroup
							label Sexe 
							span.col.l4.m4.s12 
								input( type="radio", name="sex", id="sexe_masculin"  value="male") 
								label( for="sexe_masculin" ) Masculin
							span.col.l4.m4.s12
								input( type="radio", name="sex", id="sexe_feminin"  value="female" ) 
								label( for="sexe_feminin" ) Féminin
							span.col.l4.m4.s12
								input( type="radio", name="sex", id="sexe_autre_na"   value="na") 
								label( for="sexe_autre_na" ) Autre
				.input-field.col.s12.l6
					select( name="ageRange", class="validate", required )
						option( disabled, selected ) Renseignez votre âge
						option( value="17") moins de 18 ans
						option( value="18") 18-25 ans
						option( value="25") 25-35 ans
						option( value="35") 35-45 ans 
						option( value="45") 45-55 ans
						option( value="55") plus de 55 ans
					label Tranche d'âge
			.row
				.input-field.col.s12.l6
					select( name="lastDiploma", class="validate", required)
						option( disabled, selected ) Indiquez votre dernier diplôme obtenu
						option( value="0") Aucun
						option( value="1") Bac
						option( value="2") Bac + 2
						option( value="3") Bac + 3
						option( value="5") Bac + 5
						option( value="8") Bac + 8
					label niveau d'études
				.input-field.col.s12.l6
					select( name="organism", class="validate", required) 
						option( disabled, selected ) A quelle organisme/profession appartenez-vous ? 
						option( value="GRE") Grande Entreprise (plus de 5000 employés)
						option( value="ETI") ETI (250-4999 employés)
						option( value="PME") PME (10-249 employés)
						option( value="TPE") TPE ( moins de 10 employés)
						option( value="SUP") Start-up
						option( value="AUE") Auto-Entrepreneur
						option( value="LAB") Laboratoire
						option( value="ECO") Ecole
						option( value="UNI") Université
						option( value="ASS") Association
						option( value="ONG") ONG
						option( value="COL") Collectivité
						option( value="SEP") Service Public
						option( value="ETU") Etudiant
						option( value="RET") Retraité
						option( value="SEM") Sans Emploi
						option( value="AUT") Autre
					label type d'organisation
				.input-field.col.s12.l6
					select( name="jobtype")
						option( disabled, selected ) Quel type de poste occupez-vous ?
						option( value="MAN") Manager
						option( value="EXP") Expert technique
						option( value="AUT") Autre
					label Type de poste actuel
				.input-field.col.s12.l6
					select( name="motivation", class="validate", required)
						option( disabled, selected ) Quelle est votre motivation initiale ?
						option( value="RES") Enrichir mon réseau
						option( value="INN") Faire émerger des idées de projets collaboratifs d'innovation
						option( value="AUT") Autre
					label Motivation initiale
				.input-field.col.s12.l6
					select( name="implantation", class="validate", required)
						option( disabled, selected ) De quelle région êtes-vous ?
						option( value="RE1") Nouvelle-Aquitaine
						option( value="RE2") Occitanie
						option( value="RE3") Provence-Alpes-Côte d'Azur
						option( value="RE4") Autre
					label Implantation géographique
				.input-field.col.s12.l6
					select( name="adhesion", multiple, class="validate", required )
						option( disabled, selected ) Vous êtes adhérents, ou vous souhaitez adhérer au :
						option( value="AD1") Pôle Aerospace Valley
						option( value="AD2") Pôle Mer Méditerranée
						option( value="AD3") Autre
						option( value="AD4") Je ne suis pas adhérent d'un pôle ou d'un cluster
					label Adhésion									
			.row
				div#seanceDiv.input-field.col.s6
					select#seance(name="seanceId", class="validate", required) 
						option( value="", disabled selected) Choisir une séance 
					label Séance				
				div.input-field.col.s3.offset-s3.m4.l4.offset-m2.offset-l2
					button( class="btn waves-effect waves-light", type="submit", name="action") Commencer la séance
						i(class="material-icons right") send



