li
	a( href="login" ) Registering

//li
//	a( href="generation") Imagine your crazy ideas

li 
	a( href="vote") Select the best	ones

// li
//	a( href="admin") Discover the results

//Pour changer la page de réception après click, la ligne se trouve dans servers.js, à chercher: 'reponse.redirect'
