li
	a( href="login" ) Enregistrez-vous

li 
	a( href="generation" ) Générez le maximum d'idées

li
	a( href="screen") Pré-filtrer les idées à discuter

li 
	a( href="vote") Choisissez les plus innovantes	

