li 
	a.breadcrumb.disabled( href="login", class="active") Inscription
li 
	a.breadcrumb.disabled( href="generation" ) Séance	
li 
	a.breadcrumb( href="vote") Évaluation	
li 
	a.breadcrumb( href="rank") Bilan	
