li 
	a.breadcrumb.disabled( href="login", class="active") Login
li 
	a.breadcrumb.disabled( href="generation" ) séance	
li 
	a.breadcrumb( href="vote") évaluation	
li 
	a.breadcrumb( href="rank") ordonne	
