extends ./layout.pug
block content 
	.row
		.col.s12.m10.offset-m1.l8.offset-l2#voteIdea
			.row 
				ul.tabs
					each criterion, criteriaId in criteria
						if criterion.type == "numeric"
							li.tab 
								a.criteriaSorter( id="criteria_"+criterion.id data-criteria=criterion.id)= criterion.description
					
				ul.collection.ideas( data-collapsible="accordion")
					each idea in ideas						
						- var criteriaDefault = {} ; 
						- for( var i in criteria ) { criteriaDefault ["data-criteria_" + criteria[i].id] = Math.random() * 0  ; }
						li.collection-item.idea.truncate.row(class="col_"+idea.column_position, class="row_"+idea.row_position, id="idea_"+idea.id)&attributes(criteriaDefault)
							span(title=idea.text).truncate.col.s6=  idea.text		
							span.col.s6
								input.mesarthimSlider( type="range", min="0", max="100", name!="idea_"+idea.id+"", id="idea_slider_"+idea.id,value=criteriaDefault["data-criteria_0"])
						