extends ./layout.pug
block content 
	.row
		form.col.s12.m10.offset-m1.l8.offset-l2#addIdea
			input(type="hidden", name="token", value="")
			ul.collapsible( data-collapsible="Expandable" )
				li
					.collapsible-header
						i.material-icons view_module
						span#sectionSelectionTitle Selectionner catégorie
					.collapsible-body
						include table.pug
				li
					.collapsible-header.active
						i.material-icons mode_edit 
						span.truncate#addIdeaTitle Proposer une idée
					.collapsible-body
						.row
							.input-field
								textarea.materialize-textarea#textarea1( name="content", style="height:24.4px;" )
								label( for="textarea1" class="active") Votre idée
						.row
							button#submitIdea.right(type="submit" href="#" class="btn waves-effect waves-red" disabled)
								i.material-icons.right view_module
								span Sélectionner une catégorie
			ul.collection.yellow.lighten-5#ownIdea 



