extends ./layout.pug
block content 
  script!= "data= " +JSON.stringify(screen)
  .row
    .col.s12.m10.offset-m1.l8.offset-l2#voteIdea
      .row.z-depth-1
        include table.pug
      .row
        ul.collection( data-collapsible="accordion")
          each idea in ideas
            li.idea(id="idea_"+idea.id, class="col_"+idea.column_position, class="row_"+idea.row_position)
              .collection-item.truncate
                i= idea.id 
                span(title=idea.text).ideaTitle=  idea.text               
                i.right.discuss.z-depth-1 
                  span.material-icons chat 
                  span _
                i.right.vote.z-depth-1 
                  span.material-icons thumbs_up_down
                  span _

